@font-face {
  font-family: "iconfont"; /* Project id 4489852 */
  src: url('iconfont.woff2?t=1711956076508') format('woff2'),
       url('iconfont.woff?t=1711956076508') format('woff'),
       url('iconfont.ttf?t=1711956076508') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengri1:before {
  content: "\e607";
}

.icon-xianjudi:before {
  content: "\e67c";
}

.icon-dianhua:before {
  content: "\e681";
}

.icon-jiguan:before {
  content: "\e645";
}

.icon-ziwopingjia3:before {
  content: "\e62c";
}

.icon-dianziyoujian1:before {
  content: "\e628";
}

.icon-jiaoyubeijing:before {
  content: "\e637";
}

.icon-zhuanyejineng:before {
  content: "\e74f";
}

.icon-ziwopingjia4:before {
  content: "\e774";
}

.icon-zhengzhimianmao:before {
  content: "\e6b4";
}

.icon-zaixiaojingli:before {
  content: "\e63f";
}

.icon-guoji:before {
  content: "\e62b";
}

.icon-dianziyoujian:before {
  content: "\e61f";
}

.icon-lianxidianhua:before {
  content: "\e620";
}

.icon-qiuzhiyixiang:before {
  content: "\e621";
}

.icon-shengri:before {
  content: "\e622";
}

.icon-xueli:before {
  content: "\e623";
}

.icon-ziwopingjia:before {
  content: "\e624";
}

.icon-zhuxiukecheng:before {
  content: "\e625";
}

.icon-nv:before {
  content: "\e626";
}

.icon-jineng:before {
  content: "\e627";
}

.icon-ziwopingjia1:before {
  content: "\e600";
}

.icon-a-051_qingdan:before {
  content: "\e708";
}

.icon-dingwei:before {
  content: "\e698";
}

.icon-gengduo:before {
  content: "\e699";
}

.icon-riqi:before {
  content: "\e69a";
}

.icon-tuzhi:before {
  content: "\e69c";
}

.icon-a-051_biaoqian:before {
  content: "\e703";
}

.icon-a-051_diannao:before {
  content: "\e704";
}

.icon-a-051_rili:before {
  content: "\e705";
}

.icon-a-051_shouji:before {
  content: "\e706";
}

.icon-a-051_xihuan:before {
  content: "\e707";
}

